<div id="ProductGridContainer2" class="coll_emty">
    {%- paginate collection.products by 50 -%}
    {%- if collection.products.size == 0 -%}
    <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
      <div class="loading-overlay gradient"></div>
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t }}<br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
        </h2>
      </div>
    </div>
    {%- else -%}
    <div class="collection page-width">
      <div class="loading-overlay gradient"></div>

      <ul id="product-grid" data-id="{{ section.id }}" class="
                                                              grid grid--2-col negative-margin product-grid
                                                              {% if collection.products_count < 4 %} grid--{{ collection.products_count }}-col-tablet{% else %}
                                                              {% if collection.products_count == 4 %} grid--4-col-desktop{% else %} grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}
                                                              {% endif %}">
        {%- for product in collection.products -%}
        <li class="grid__item">
          {% render 'product-card',
                product_card_product: product,
          media_size: section.settings.image_ratio,
          show_secondary_image: section.settings.show_secondary_image,
          add_image_padding: section.settings.add_image_padding,
          show_vendor: section.settings.show_vendor,
          show_image_outline: section.settings.show_image_outline,
          show_rating: section.settings.show_rating
          %}
        </li>
        {%- endfor -%}
      </ul>
      {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    </div>
    {%- endif -%}
    {%- endpaginate -%}
</div>